{% extends 'base.html' %}

{% block jumbotron %}
    <hr class="my-4"/>
    <p class="lead">
        Thank you for using the EKU Course Monitor!
    </p>
{% endblock %}

{% block body %}
    <p class="lead">
        The emails you entered will now receive an alert showing the current number of available seats in the course.
        If there are any changes, you will be emailed immediately.
        <br/><br/>
        Alerts will cease 2 weeks after the first day of classes.
    </p>
{% endblock %}